<head>
  <title>Namrata Honnavar</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="polaroids/polaroid.css" rel="stylesheet">
</head>

<body>
  <%= render 'shared/header' %>
  <div id="wrap">
    <div id="container">
      <h1 id="headh1">A Visual Introduction to Namrata Honnavar</h1>
        <ul class="polaroids">
          <li><a href="#" title="Yes, that's me!!"><img alt=
          "Namrata's pic" src=
          'polaroids/images/namrata.jpg' ></a></li>

          <li><a href="#" title="Lives in Livermore"><img alt=
          "The Golden Gate Bridge" 
          src="polaroids/images/livermore.jpg"></a></li><br>

          <li><a href="#" title="Originally from India"><img alt=
          "India" src=
          "polaroids/images/india.jpg"></a></li>

          <li><a href="#" title="Loves Food"><img alt=
          "Food is ultimate pleasure" src=
          "polaroids/images/food.jpg"></a></li>

          <li><a href="#" title="Loves To Travel"><img alt=
          "World is so beautiful" src=
          "polaroids/images/travel.jpg"></a></li>

          <li><a href="#" title="Full Stack Engineer"><img alt=
          "Develop beautiful and meaningful things" src=
          "polaroids/images/computer.jpg"></a></li>
        </ul>
    </div>
  </div>
</body>
  