<%= render 'shared/header' %>
<div class="contact">
<img alt="Map of SFO" src='polaroids/images/map.png' >
</div>

<br><nav>
<br><ul class="images">
  <li><a href="https://www.linkedin.com/in/namratahonnavar"><img src="polaroids/images/LI.png"/></a></li>
  <li><a href="https://www.facebook.com/namratahonnavar"><img src="polaroids/images/fb.png"></a></li>
  <li><a href="https://www.twitter.com/namratahonnavar"><img src="polaroids/images/twitter.png"></a></li>
  <li><a href="https://www.instagram.com"><img src="polaroids/images/insta.png"></a></li>
  <li><a href="https://www.github.com/namratahonnavar"><img src="polaroids/images/git.png"></a></li>
</ul>
</nav>

<br><br><br><br><%= render 'shared/footer' %>