<nav>
	<ul class="main-navigation">
	  <strong><li><a href="/blog">Back</a></li>
		</strong>
	</ul>
</nav>
<article class="article">
  
<h1><a href="https://github.com/fiery-skippers-2014/JpegJourneys">Jpeg Journey</a></h1>
	<time datetime="2014-04-18T20:15:00-08:00" pubdate><span class='month'>April</span> <span class='day'>20</span> <span class='year'>2014</span></time>
	<p class="transbox"><strong>Jpeg Journeys is a web application that was created for users to see what their destinations looked like. Main reason behind this project was to get my feet wet in learning API's. I ended up using Flickr API, google maps API and facebook API too. This project helped me understand Active Record better. I also learnt how to use omniauth for authentication. Before using omniauth, I used Bcrypt to encrypt user's password for security. And now with Omniauth I dont't have to worry about user's authentication.<br><br>Technology Stack: Sinatra, Javscript, Jquery, HTML, CSS and API's.</strong></p>

</article>
