<nav>
<ul class="main-navigation">
  <strong><li><a href="/blog">Back</a></li>
	</strong>
</ul>
</nav>
<article class="article">
  
<h1><a href="#">Learning how to cook</a></h1>
<time datetime="2014-06-12T08:36:00-08:00" pubdate><span class='month'>June</span> <span class='day'>12</span> <span class='year'>2014</span></time>
<p class="transbox"><strong>I proudly say I quickly picked up Ruby on rails, Javascript and even to some extent java. But there is one thing I suck at and that is cooking.<br>To be honest I never entered kitchen until I got married.Before my wedding,I stayed with my friends in an apartment, I ate out everyday because I did not have time or proper equipments to cook. I did not have a kitchen. Then we moved into another place where we had a functional kitchen but my working hours were pretty odd and I would come home late, typically around 10.00 or 11.00 PM. Cooking at that time seemed impossible. After a long day's work all I wanted to do was sleep.This was my lifestyle until I got married.I ate poorly.<br>After I got married, I left my job and was staying with my husband and thought I should cook good food for him when he comes home tired.I also had read that "a way to man's heart is through his stomach". Honestly, it did not help me because I was a terrible cook. It turned out that he was way better cook than I was(face palm).But that did not stop me. Every week I try to cook and improve my culinary skills. I watch youtube videos and read blogs online and try recipes. I am not as bad as I was when I first started. I am hoping someday I can cook as good as my mom or my husband.</strong></p>

</article>
