<nav>
<ul class="main-navigation">
  <strong><li><a href="/blog">Back</a></li>
	</strong>
</ul>
</nav>
<article class="article">
  
<h1><a href="#">Gastronomic adventures in CostaRica</a></h1>
<time datetime="2014-06-22T08:36:00-08:00" pubdate><span class='month'>June</span> <span class='day'>22</span> <span class='year'>2014</span></time>
<p class="transbox"><strong>Coming soon.....</strong></p>

</article>
