<nav>
	<ul class="main-navigation">
	  <strong><li><a href="/blog">Back</a></li>
		</strong>
	</ul>
</nav>
<article class="article">
  
	<h1><a href="https://github.com/namratahonnavar/EPICSWAP">EPIC SWAP</a></h1>
		<time datetime="2014-06-07T08:36:00-08:00" pubdate><span class='month'>May</span> <span class='day'>08</span> <span class='year'>2014</span></time>
		<p class="transbox"><strong>Epic Swap is a website designed to bring together like-minded people who love the idea of sharing knowledge and skills.This app is designed to get you off the computer and in front of another person. It takes advantage of a talented population and peoples desire to learn and teach. In addition, it is easy for people to bond over the shared acquisition of knowledge. It was mainly built with the idea of sharing skills, knowledge, and community-building for a happier community<br><br> Technology stack: Ruby on rails, Javscript, Jquery, Handlebar, HTML, CSS, saas, GooglemapsAPI, Omniauth for facebook and linkedIn</strong></p>
</article>
