<nav>
<ul class="main-navigation">
  <strong><li><a href="/blog">Back</a></li>
	</strong>
</ul>
</nav>
<article class="article">
  
<h1><a href="#">Elparasol, simply love the food here</a></h1>
<time datetime="2014-08-07T08:36:00-08:00" pubdate><span class='month'>May</span> <span class='day'>28</span> <span class='year'>2014</span></time>
<p class="transbox"><strong>I lived in Santa fe for nearly 1 year and had never heard of this place. We eat out a lot. Both me and my husband are avid foodies and love to try new places.<br> We watch food shows a lot and one day we happened to see Anthony Bourdain's Parts Unknown, where he visits New Mexico, particularly Santa Fe. The locals take him to Elparasol and he loves the food!!<br>After watching that show we wanted to try that place.Unfortunately we had to move to California, so we had to keep this trip on hold.<br>Time flied and we happened to be in New Mexico during one of the long holiday. We were back from our road trip and were in Española county of New Mexico. We were heading back home and were tired and hungry. It immediately occurred to us that we could go to Elparasol. I immediately put it in my GPS and in less than 5 minutes we reached our destination.I must tell, I was really stumped by the place, it's location, size of the restaurant and the number of people waiting like hungry vultures.I had seen the Santa Fe's restaurant on TV and had driven by, a couple of times. But had never seen the one in Española. It was a small hole in the wall place, standing proudly next to world famous El Paragua restaurant.The menu is posted on its exterior wall.It only has a pick-up window,to place a take-out order.But the food was phenomenal.<br>El Parasol is renowned for its quesadillas, tacos, burritos, tamales and even arroz con pollo and menudo.But my favorite is Chiakea.<br> El Parasol became so successful in Española that two other El Parasol restaurants have since been launched, one in Pojoaque and one in Santa Fe.<br>I highly recommend this place if you want to try authentic New Mexican food.</strong></p>

</article>
