<nav>
	<ul class="main-navigation">
	  <strong><li><a href="/blog">Back</a></li>
		</strong>
	</ul>
</nav>
<article class="article">
  
<h1><a href="https://github.com/namratahonnavar/Orange-Tree">Orange Tree</a></h1>
	<time datetime="2014-04-12T20:15:00-08:00" pubdate><span class='month'>April</span> <span class='day'>12</span> <span class='year'>2014</span></time>
	<p class="transbox"><strong>Orange tree is a pure javascript project that uses test driven development(TDD) JavaScript code with Jasmine. It also helped me understand functions, control structures and scope and to write object oriented javascript.<br>Main features of this project were, a tree can age, for each year the tree ages up to it's fruit bearing age, it gets taller.After a tree reaches fruit bearing age, it can grow fruit.A tree grows a random amount of oranges each year it ages (after reaching fruit bearing age).You can pick all the fruit that grows each year.A tree dies after it ages for it's max age years and can no longer bear fruit.<br><br>Technology Stack: Object Oriented Javscript, Jquery, Jasmine for testing javascript.

</article>
