<nav>
	<ul class="main-navigation">
	  <strong><li><a href="/blog">Back</a></li>
		</strong>
	</ul>
</nav>
<article class="article">
  
<h1><a href="http://still-taiga-4651.herokuapp.com/ ">Team NATL, a survey website</a></h1>
<time datetime="2014-05-28T22:13:00-08:00" pubdate><span class='month'>May</span> <span class='day'>28</span> <span class='year'>2014</span></time>
<p class="transbox"><strong>Team NATL is a survey website designed for people to not only create surveys but to create a personal profile page too. It allows users to upload their favourite pictures, ask questions, take survey and much more. At any point the user can edit or delete his profile too. And the cool part is users can vote for a particular survey and see high charts that show  the most voted answer.<br><br>Technology Stack: Sinatra, Javscript, Jquery, Handlebar, HTML, CSS, Highcharts. </strong></p>

</article>
