<aside class="sidebar">  
  <section>
    <h1 class="post_title">Technology</h1>
      <ul id="recent_posts" class="transbox" >
          
      	<li class="post">
      	  <a href="/blog">Javascript: Roll A Die, Object Oriented</a>
      	</li>

        <li class="post">
          <a href="/blog">Jquery is not magic</a>
        </li>

        <li class="post">
          <a href="/blog">Using Bcrypt for strong password encryption</a>
        </li>

        <li class="post">
          <a href="/blog">Sorting algorithms</a>
        </li>
      </ul>
  </section>

  <section>
    <h1 class="post_title">Side Projects</h1>
      <ul id="recent_posts" class="transbox">
          
        <li class="post">
          <%= link_to 'Epic Swap', elpara_path %>
        </li>

        <li class="post">
          <%= link_to 'Team NATL, a survey website', telmate_path %>
        </li>

        <li class="post">
          <%= link_to 'Jpeg Journey', cook_path %>
        </li>

        <li class="post">
          <%= link_to 'Orange Tree', orange_path %>
        </li>
      </ul>
  </section>
</aside>