<aside class="sidebar">  
<section>
  <br><br><h1 class="post_title">Recent Posts:</h1>
  <h1 class="post_title">Technology</h1>
<ul id="recent_posts">
    
	<li class="post">
	  <a href="/blog">Javascript: Roll A Die, Object Oriented</a>
	</li>

  <li class="post">
    <a href="/blog">Jquery is not magic</a>
  </li>

  <li class="post">
    <a href="/blog">Using Bcrypt for strong password encryption</a>
  </li>

  <li class="post">
    <a href="/blog">Sorting algorithms</a>
  </li>
</ul>
</section>

<section>
  <h1 class="post_title">Food and Travel</h1>
<ul id="recent_posts">
    
  <li class="post">
    <!-- <a href="/blog/roll-a-die/">El Parasol, Santa Fe</a> -->
    <%= link_to 'El Parasol, Santa Fe', elpara_path %>
  </li>

  <li class="post">
    <%= link_to 'Gastronomic adventures in Costa Rica', costarica_path %>
  </li>

  <li class="post">
    <%= link_to 'Learning how to cook', cook_path %>
  </li>
</ul>
</section>

<!--coming soon...
 <section>
  <h1 class="post_title">Travel</h1>
<ul id="recent_posts">
    
  <li class="post">
    <a href="/blog/roll-a-die/">4 days, 4 states</a>
  </li>

  <li class="post">
    <a href="/blog/something/">Hawaii</a>
  </li>

  <li class="post">
    <a href="/blog/someother-thing-here/">Costa Rica</a>
  </li>
</ul>
</section> -->
</aside>