<!-- <div>
	<footer class="pencil">
	  <p>Copyright © 2016 <a href="#">Namrata Honnavar</a>. All rights reserved.</p>
	</footer>
</div> -->

<div id="footer">
	<p>Copyright © 2016 Namrata Honnavar. All rights reserved.</p>
</div>