<body>
<%= render 'shared/header' %>
<article class="article">
  
<h1><a href="http://www.epicswap.com">EPIC SWAP</a></h1>
<time datetime="2014-06-07T08:36:00-08:00" pubdate><span class='month'>June</span> <span class='day'>07</span> <span class='year'>2014</span></time>
<p class="transbox"><strong>Epic Swap is a website designed to bring together like-minded people who love the idea of sharing knowledge and skills.This app is designed to get you off the computer and in front of another person. It takes advantage of a talented population and peoples desire to learn and teach. In addition, it is easy for people to bond over the shared acquisition of knowledge. It was mainly built with the idea of sharing skills, knowledge, and community-building for a happier community<br> Technologies used: Ruby on rails, Javscript, Jquery, Handlebar, HTML, CSS, saas, GooglemapsAPI, Omniauth for facebook and linkedIn</strong></p>

</article>

<article class="article">

<h1><a href="http://still-taiga-4651.herokuapp.com/ ">Team NATL, a survey website</a></h1>
<time datetime="2014-05-28T22:13:00-08:00" pubdate><span class='month'>May</span> <span class='day'>28</span> <span class='year'>2014</span></time>
<p class="transbox"><strong>Team NATL is a survey website designed for people to not only create surveys but to create a personal profile page too. It allows users to upload their favourite pictures, ask questions, take survey and much more. At any point the user can edit or delete his profile too. And the cool part is users can vote for a particular survey and see high charts that show  the most voted answer.<br>Technologies used: Sinatra, Javscript, Jquery, Handlebar, HTML, CSS, Highcharts. </strong></p>

</article>

<article class="article">
  
<h1><a href="https://github.com/fiery-skippers-2014/JpegJourneys">Jpeg Journey</a></h1>
<time datetime="2014-04-18T20:15:00-08:00" pubdate><span class='month'>April</span> <span class='day'>20</span> <span class='year'>2014</span></time>
<p class="transbox"><strong>Jpeg Journeys is a web application that was created for users to see what their destinations looked like. Main reason behind this project was to get my feet wet in learning API's. I ended up using Flickr API, google maps API and facebook API too. This project helped me understand Active Record better. I also learnt how to use omniauth for authentication. Before using omniauth, I used Bcrypt to encrypt user's password for security. And now with Omniauth I dont't have to worry about user's authentication.<br>Technologies used: Sinatra, Javscript, Jquery, HTML, CSS and API's.</strong></p>

</article>

<article class="article">
  
<h1><a href="https://github.com/namratahonnavar/Orange-Tree">Orange Tree</a></h1>
<time datetime="2014-04-12T20:15:00-08:00" pubdate><span class='month'>April</span> <span class='day'>12</span> <span class='year'>2014</span></time>
<p class="transbox"><strong>Orange tree is a pure javascript project that uses test driven development(TDD) JavaScript code with Jasmine. It also helped me understand functions, control structures and scope and to write object oriented javascript.<br>Main features of this project were, a tree can age, for each year the tree ages up to it's fruit bearing age, it gets taller.After a tree reaches fruit bearing age, it can grow fruit.A tree grows a random amount of oranges each year it ages (after reaching fruit bearing age).You can pick all the fruit that grows each year.A tree dies after it ages for it's max age years and can no longer bear fruit.<br>Technologies used: Object Oriented Javscript, Jquery, Jasmine for testing javascript.
</article>

<%= render 'shared/aside' %>

<%= render 'shared/footer' %>
</body>


