<body>
	<%= render 'shared/header' %>
	<article class="article">
	 <!-- el parasol.html -->
		<h1><u>Hourly Stocks</u></h1>
			<time><span class='month'>Dec</span><span class='year'> 2015 - present</span></time>
			<p>Building website using a suite of cutting-edge predictive algorithms to perform real-time analysis of stock movement to predict the direction  of more than 7000 publicly traded stocks and ETFs on the NYSE and NASDAQ. The website allows users to trade and also keeps track of the user's gain and performance that they can see visually via graphs.<br><br><strong> Technology stack:</strong> Ruby on rails, Javscript, Jquery, AWS, Stripe, D3 and a whole bunch of cool stuff</p>

	</article>

	<article class="article">
	<!-- cr.html -->
		<h1><u>Telmate</u></h1>
			<time><span class='month'>Aug</span><span class='year'> 2014 - present</span></time>
			<p>As a full stack engineer at Telmate, I have had opportunities to work on a variety of projects and have built several projects from grounds up including Command center, which is a single framework powering all browser-based administratiin interfaces across the Telmate Ecosystem. Development tools such as robust access control system(permissions), access to ElasticSearch for real-time search, with a vast suite of hooks and registries to help build any arm of the product.<br> Built internal tools in Android to create a health check app that will monitor the health of all the dependent services that the devices communicate with, during the entire life cycle and notifies devs and QA when a certain service is unavailable.<br><br><strong>Technology stack:</strong> Ruby on rails, ReactJS, Backbone, Javscript libraries like moment, lodash, Elastic Search and native Android</p>

	</article>

	<article class="article">
	  
		<h1><u>New Mexico Corrections Department</u></h1>
			<time><span class='month'>Nov</span><span class='year'> 2013 - Feb 2014</span></time>
			<p>As an application developer at New Mexico correction's department, my responsibilities included performing application development and aiding systems analysis, design, development/enhancement of web based applications. I was also involved in migrating the legacy .Net code to Java.<br><br><strong>Technology stack:</strong> Java, .Net, Jquery, HTML, CSS</p>

	</article>

	<article class="article">
	  
		<h1><u>Cerner Health Care</u></h1>
			<time><span class='month'>Sep</span><span class='year'> 2012 - Jan 2013</span></time>
			<p>Cerner Millennium is a Hospital Management System that enables physicians, nurses and other users to share data and streamline processes across a hospital. My role included Operating System installation, hardware upgrades, periodic maintenance, and ensuring application availability for all the healthcare and hospital system clients hosted on Cerner’s Server Farms. Clients I supported include: University of New Mexico Health Sciences Center, Kansas Medical Center, University of Missouri Health Care.<br><br><strong>Technology stack:</strong> Unix, Linux, AIX, Oracle
	</article>

	<article class="article">
	  
		<h1><u>Quinnox Consulting Services</u></h1>
			<time><span class='month'>Sep</span><span class='year'> 2008 - Mar 2012</span></time>
			<p>As a programmer analyst, I worked on an information portal called Insight that can access Coca-Cola’s Financial data including Accounts Payables, Accounts Receivables, Vendor and Order Management data. The Application provides users with a simple browser-based interface for querying and reporting on financial data. It is a Java based application running on SQL Databases installed on Unix Servers.<br><br><strong>Technology stack:</strong> Unix, HTML, CSS, Java, Apache
	</article>

	<%= render 'shared/aside' %>

	<%= render 'shared/footer' %>
</body>


